In [ ]:
# 1 Missing Value Hadling
# 2 Eccoder
# 3 Outlier
# 4 Scaling (Standardization),(MinMax Scaling)
# 5 Future Construction (Old two colunm Ya Three Columns Se 1 New Columns Creat Karna)
# 6 Future Selection (All Futures Se Most Future Lena Karna)
# 7 Future Extraction (Old Future Ko Delet Kar Ke Un Ke Sthan Par New Future Creat Karna)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# ====================massing Values Handling===============

In [ ]:
# Kisi Columns me Numerical and Categorical Dono type ke Data Hone Par

In [ ]:
df['columns_Name'].unique()

In [ ]:
# Char Making 
fig = df['columns_Name'].value_counts().plot.bar()
fig.set_title('Passengers travelling with')

In [ ]:
# Columns me Se Numerical and Catagorical Data Alag-Alg Karna==========NOte:-Numerical and Catogorical Data Ek Columns me nhi ho
# extract numerical part
df['88888'] = pd.to_numeric(df["55555"],errors='coerce',downcast='integer')

# extract categorical part
df['number_categorical'] = np.where(df['88888'].isnull(),df['55555'],np.nan)
df.head()

In [ ]:
# Kisi Columns ke Ek hi Columns me Numerical and Categorical Dono Data Hone par
df['Columns_Name'].unique()


df['cabin_num'] = df['Cabin'].str.extract('(\d+)') # captures numerical part
df['cabin_cat'] = df['Cabin'].str[0] # captures the first letter
print(df.head())

df['cabin_cat'].value_counts().plot(kind='bar')


=========================================================================================================


# Kisi Columns ke Ek hi Columns me Numerical and Categorical Dono Data Hone par
# extract the last bit of ticket as number
df['ticket_num'] = df['Ticket'].apply(lambda s: s.split()[-1])
df['ticket_num'] = pd.to_numeric(df['ticket_num'],
                                   errors='coerce',
                                   downcast='integer')

# extract the first part of ticket as category
df['ticket_cat'] = df['Ticket'].apply(lambda s: s.split()[0])
df['ticket_cat'] = np.where(df['ticket_cat'].str.isdigit(), np.nan,
                              df['ticket_cat'])

df.head(20)

# ========Massing Rwo ko Hatan 5% se Cun value wale ko=========

In [ ]:
# Data me Missing Value Ka Precent Dekhana
df.isnull().mean()*100

# Data set me se Kisi bi ek % se cum % Ke Columuns Ko Data Set me se Nikal Na
cols = [var for var in df.columns if df[var].isnull().mean() < 0.05 and df[var].isnull().mean() > 0]
cols

# Bache hue Data ka Precent
len(df[cols].dropna()) / len(df)

# Old Data and New Data Shape
new_df = df[cols].dropna()
df.shape, new_df.shape

In [ ]:
fig = plt.figure()
ax = fig.add_subplot(111)

# original data
df['training_hours'].hist(bins=50, ax=ax, density=True, color='red')

# data after cca, the argument alpha makes the color transparent, so we can
# see the overlay of the 2 distributions
new_df['training_hours'].hist(bins=50, ax=ax, color='green', density=True, alpha=0.8)

In [ ]:
fig = plt.figure()
ax = fig.add_subplot(111)

# original data
df['training_hours'].plot.density(color='red')

# data after cca
new_df['training_hours'].plot.density(color='green')

In [ ]:
fig = plt.figure()
ax = fig.add_subplot(111)

# original data
df['city_development_index'].hist(bins=50, ax=ax, density=True, color='red')

# data after cca, the argument alpha makes the color transparent, so we can
# see the overlay of the 2 distributions
new_df['city_development_index'].hist(bins=50, ax=ax, color='green', density=True, alpha=0.8)

In [ ]:
fig = plt.figure()
ax = fig.add_subplot(111)

# original data
df['city_development_index'].plot.density(color='red')

# data after cca
new_df['city_development_index'].plot.density(color='green')

In [ ]:
fig = plt.figure()
ax = fig.add_subplot(111)

# original data
df['experience'].hist(bins=50, ax=ax, density=True, color='red')

# data after cca, the argument alpha makes the color transparent, so we can
# see the overlay of the 2 distributions
new_df['experience'].hist(bins=50, ax=ax, color='green', density=True, alpha=0.8)

In [ ]:
fig = plt.figure()
ax = fig.add_subplot(111)

# original data
df['experience'].plot.density(color='red')

# data after cca
new_df['experience'].plot.density(color='green')

In [ ]:
# Old and New Calumns Ka Ratio Nikalna
temp = pd.concat([
            # percentage of observations per category, original data
            df['education_level'].value_counts() / len(df),

            # percentage of observations per category, cca data
            new_df['education_level'].value_counts() / len(new_df)
        ],
        axis=1)

# add column names
temp.columns = ['original', 'cca']

temp

# ============mean.midian.mode se fill Karna====================

In [ ]:
mean_fill = df["Columns_Name"].fillna(df.mean())
median_fill = df["Columns_Name"].fillna(df.median())
mode_fill = df["Columns_Name"].fillna(df.mode())

In [ ]:
# Variance Nikalna Befor Fill and After Fill Value

df.["Columns_Name"].var()
New_df.["Columns_Name"].var()

In [ ]:
# Columns Ka Covariance find Karna
df.cov()

In [ ]:
# Box plot Grapha
df[["Before Fill_Columns_Nme","After Fill_Calumns_Name"]].boxplot()

# ===================Date and Time Handling======================

In [ ]:
# Converting to datetime datatype
date['date'] = pd.to_datetime(date['date'])

In [ ]:
# Converting to datetime datatype
date['date'] = pd.to_datetime(date['date'])

# Data wale columns me Se Kuch bi Extract Karna
date['date_year'] = date['date'].dt.year/month/month_name()/day/dayofweek/day_name()/week/quarter
# Date Column me Se Hun ye ye Nikal Sakte Hai :-->>[year/month/month_name()/day/dayofweek/day_name()/week/quarter]