# Data Ko Train Test Split Karna

#                    project 1

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("C:\\Users\\HP\\Desktop\\Main File\\Project Data\\placement.csv")
df

    cgpa  resume_score  placed
0   8.14          6.52       1
1   6.17          5.17       0
2   8.27          8.86       1
3   6.88          7.27       1
4   7.52          7.30       1
..   ...           ...     ...
95  6.33          6.38       0
96  8.23          7.76       1
97  6.65          7.78       0
98  8.14          5.63       1
99  6.09          6.61       0

[100 rows x 3 columns]

In [3]:
x=df.drop(columns=["placed"],axis=1)
y=df['placed']

In [4]:
x.head()

   cgpa  resume_score
0  8.14          6.52
1  6.17          5.17
2  8.27          8.86
3  6.88          7.27
4  7.52          7.30

In [98]:
y.head()

0    1
1    0
2    1
3    1
4    1
Name: placed, dtype: int64

#           StandarScaler

In [5]:
# Null Value Ko fill Karna Ke Liye

from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [6]:
#                               Stape (1) Sklearn Model Import Karna
    
from sklearn.model_selection import train_test_split

#                               Stape (2) Train Test ke Liye Row and Columns Send Karna

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

#                              Stape (3) Send Data Fit and Transform Karna

x_train_sc=sc.fit_transform(x_train)
x_test_sc=sc.transform(x_test)

#                              Stape (4) Fit and Transform Data Ko Array se DataFrame Me Convert Karna
    
    
x_train_new=pd.DataFrame(x_train_sc,columns=x_train.columns)
x_test_new=pd.DataFrame(x_test_sc,columns=x_test.columns)

In [7]:
x_train_new.head()

       cgpa  resume_score
0 -0.008602     -0.128926
1  1.001293     -0.925381
2 -0.607389     -0.527154
3 -0.044350     -0.089103
4  0.992356      2.051369

In [8]:
y_test

83    1
53    0
70    1
45    1
44    0
39    1
22    0
80    1
10    0
0     1
18    0
30    1
73    0
33    1
90    0
4     1
76    1
77    0
12    0
31    0
Name: placed, dtype: int64

In [9]:
x_test_new.head()

       cgpa  resume_score
0  0.581248      1.075712
1 -0.848691      0.159789
2  0.152266      0.408681
3  1.028104     -1.552589
4 -1.322359     -1.074716

#           LogisticRegression Model

In [10]:
# LogisticRegression Model Apply Karna
#                     Stape (1) Model Import Karna
from sklearn.linear_model import LogisticRegression

#                     Stape (2) Class Banana
lr=LogisticRegression()

#                     Stape(3) Model Fit Karna
lr.fit(x_train_new,y_train)

#                     Stape (4) Model Pred Karna
y_pred = lr.predict(x_train_new)

In [101]:
y_pred

array([1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1], dtype=int64)

In [11]:
#         Model Ki Accuracy Test Karna
#                Stape (1)  Model Import Karna
from sklearn.metrics import accuracy_score

#                Stape (2) Accoracy Test Karna
accuracy_score(y_test,y_pred)

ValueError: Found input variables with inconsistent numbers of samples: [20, 80]

#                               project 2

#                             Categorical Data Ko Numerical Me Encodel Karna

In [24]:
import  numpy as np
import pandas as pd

In [25]:
df=pd.read_csv("C:\\Users\\HP\\Desktop\\Main File\\Project Data\\covid_toy.csv")
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [26]:
#                       Stape(1)  Model Import Karna
from sklearn.preprocessing import LabelEncoder

#                      Stape(2)  Class Banana
lb=LabelEncoder()

#                      Stape (3)  Categorical Columns Ko Numerical Me Convert Karna
df['gender']=lb.fit_transform(df['gender'])
df['cough']=lb.fit_transform(df['cough'])
df['city']=lb.fit_transform(df['city'])
df['has_covid']=lb.fit_transform(df['has_covid'])

In [27]:
df.head()

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     2          0
1   27       1  100.0      0     1          1
2   42       1  101.0      0     1          0
3   31       0   98.0      0     2          0
4   65       0  101.0      0     3          0

In [28]:
df.dropna()

    age  gender  fever  cough  city  has_covid
0    60       1  103.0      0     2          0
1    27       1  100.0      0     1          1
2    42       1  101.0      0     1          0
3    31       0   98.0      0     2          0
4    65       0  101.0      0     3          0
..  ...     ...    ...    ...   ...        ...
95   12       0  104.0      0     0          0
96   51       0  101.0      1     2          1
97   20       0  101.0      0     0          0
98    5       0   98.0      1     3          0
99   10       0   98.0      1     2          1

[90 rows x 6 columns]

In [30]:
x=df.drop(columns =['has_covid'],axis=1)
y=df['has_covid']

In [32]:
x.head()

   age  gender  fever  cough  city
0   60       1  103.0      0     2
1   27       1  100.0      0     1
2   42       1  101.0      0     1
3   31       0   98.0      0     2
4   65       0  101.0      0     3

In [33]:
y.head()

0    0
1    1
2    0
3    0
4    0
Name: has_covid, dtype: int32

In [40]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [36]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.3,random_state=42)