In [1]:
# Logistic Regression ==> Target Data(Categorical or Descrete) ==> Backend(Activation = 'sigmoid') ==> 
# Values ==> Probability ==>

# probability >= 0.5 == 'Yes'
# probability < 0.5 == 'No'

In [2]:
import numpy as np 
import pandas as pd

In [3]:
df = pd.read_csv("C:\\Users\\saurabh\\Desktop\\pyth\\placement.csv")

In [4]:
df.head()

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1
4  7.52          7.30       1

In [5]:
x = df.drop(columns = ['placed'] , axis = 1)
y = df['placed']

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
sc = StandardScaler()

In [10]:
x_train_sc = sc.fit_transform(x_train) 
x_test_sc = sc.transform(x_test)

In [11]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns) 
x_test_new = pd.DataFrame(x_test_sc , columns = x_test.columns)

In [12]:
from sklearn.linear_model import LogisticRegression

In [13]:
lr = LogisticRegression()

In [14]:
lr.fit(x_train_new , y_train)

LogisticRegression()

In [15]:
y_pred = lr.predict(x_test_new)

In [16]:
from sklearn.metrics import accuracy_score

In [17]:
accuracy_score(y_test , y_pred)

1.0

# project - 2

In [18]:
df = pd.read_csv("C:\\Users\\saurabh\\Desktop\\pyth\\covid_toy.csv")

In [19]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [20]:
from sklearn.preprocessing import LabelEncoder

In [21]:
lb = LabelEncoder()

In [22]:
df['gender'] = lb.fit_transform(df['gender'])
df['cough'] = lb.fit_transform(df['cough'])
df['city'] = lb.fit_transform(df['city'])
df['has_covid'] = lb.fit_transform(df['has_covid'])

In [23]:
df.head()

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     2          0
1   27       1  100.0      0     1          1
2   42       1  101.0      0     1          0
3   31       0   98.0      0     2          0
4   65       0  101.0      0     3          0

In [37]:
df = df.dropna()

In [38]:
x = df.drop(columns = ['has_covid'] , axis = 1)
y = df['has_covid']

In [39]:
from sklearn.model_selection import train_test_split

In [40]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [41]:
from sklearn.preprocessing import StandardScaler

In [42]:
sc = StandardScaler()

In [43]:
x_train_sc = sc.fit_transform(x_train)

In [44]:
x_test_sc = sc.transform(x_test)

In [45]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns) 
x_test_new = pd.DataFrame(x_test_sc , columns = x_test.columns)

In [46]:
from sklearn.linear_model import LogisticRegression

In [47]:
lr = LogisticRegression()

In [48]:
lr.fit(x_train_new , y_train)

LogisticRegression()

In [49]:
y_pred = lr.predict(x_test)

In [50]:
from sklearn.metrics import accuracy_score

In [51]:
accuracy_score(y_test , y_pred)

0.4444444444444444

In [52]:
df = pd.read_csv("C:\\Users\\saurabh\\Desktop\\pyth\\attrition.csv")

In [53]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [55]:
from sklearn.preprocessing import LabelEncoder

In [56]:
lb = LabelEncoder()

In [57]:
df['Attrition'] = lb.fit_transform(df['Attrition'])
df['BusinessTravel'] = lb.fit_transform(df['BusinessTravel'])
df['Department'] = lb.fit_transform(df['Department'])
df['EducationField'] = lb.fit_transform(df['EducationField'])
df['Gender'] = lb.fit_transform(df['Gender'])
df['JobRole'] = lb.fit_transform(df['JobRole'])
df['MaritalStatus'] = lb.fit_transform(df['MaritalStatus'])
df['Over18'] = lb.fit_transform(df['Over18'])
df['OverTime'] = lb.fit_transform(df['OverTime'])

In [58]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,2,1102,2,1,2,1,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,0,1,279,1,8,1,1,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1,2,1373,1,2,2,4,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,0,1,1392,1,3,4,1,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,0,2,591,1,2,1,3,1,7,...,4,80,1,6,3,3,2,2,2,2

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   int32
 2   BusinessTravel            1470 non-null   int32
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   int32
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   int32
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   int32
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   int32
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   int32
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   int32
 22  OverTime                  1470 non-null   int32
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int32(9), int64(26)
memory usage: 350.4 KB

In [60]:
x = df.drop(columns = ['Attrition'] , axis = 1)
y = df['Attrition']

In [61]:
from sklearn.model_selection import train_test_split

In [62]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [63]:
from sklearn.preprocessing import StandardScaler

In [64]:
sc = StandardScaler()

In [65]:
x_train_sc = sc.fit_transform(x_train)

In [69]:
x_test_sc = sc.transform(x_test)

In [70]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns) 
x_test_new = pd.DataFrame(x_test_sc , columns = x_test.columns)

In [71]:
from sklearn.linear_model import LogisticRegression

In [72]:
lr = LogisticRegression()

In [73]:
lr.fit(x_train_new , y_train)

LogisticRegression()

In [74]:
y_pred = lr.predict(x_test)

In [75]:
from sklearn.metrics import accuracy_score

In [76]:
accuracy_score(y_test , y_pred)

0.5884353741496599

In [77]:
# Decision Tree ==> 

# (1). Information Gain  (2). Gini Index 

# CART (CLASSIFICATION AND REGRESSION TREE)

In [78]:
df = pd.read_csv("C:\\Users\\saurabh\\Desktop\\pyth\\tips.csv")

In [79]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [80]:
from sklearn.preprocessing import LabelEncoder

In [81]:
lb = LabelEncoder()

In [82]:
df['sex'] = lb.fit_transform(df['sex'])
df['smoker'] = lb.fit_transform(df['smoker'])
df['day'] = lb.fit_transform(df['day'])
df['time'] = lb.fit_transform(df['time'])

In [83]:
df.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3
3       23.68  3.31    1       0    2     0     2
4       24.59  3.61    0       0    2     0     4

In [84]:
x = df.drop(columns = ['total_bill'] , axis = 1)
y = df['total_bill']

In [85]:
from sklearn.model_selection import train_test_split

In [86]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [87]:
from sklearn.preprocessing import StandardScaler

In [89]:
sc = StandardScaler()

In [90]:
x_train_sc = sc.fit_transform(x_train)
x_test_sc = sc.transform(x_test)

In [91]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)
x_test_new = pd.DataFrame(x_test_sc , columns = x_test.columns)

In [93]:
from sklearn.tree import DecisionTreeRegressor

In [94]:
dt = DecisionTreeRegressor()

In [95]:
dt.fit(x_train_new , y_train)

DecisionTreeRegressor()

In [96]:
y_pred = dt.predict(x_test_new)

In [97]:
from sklearn.metrics import r2_score

In [99]:
r2_score(y_test , y_pred)

0.5267027317643784

In [100]:
df = pd.read_csv("C:\\Users\\saurabh\\Desktop\\pyth\\insurance.csv")

In [101]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [102]:
df['sex'] = lb.fit_transform(df['sex'])
df['smoker'] = lb.fit_transform(df['smoker'])
df['region'] = lb.fit_transform(df['region'])

In [103]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [104]:
x = df.drop(columns = ['charges'] , axis = 1)
y = df['charges']

In [105]:
from sklearn.model_selection import train_test_split

In [106]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [108]:
from sklearn.tree import DecisionTreeRegressor

In [109]:
dt = DecisionTreeRegressor()

In [110]:
dt.fit(x_train , y_train)

DecisionTreeRegressor()

In [111]:
y_pred = dt.predict(x_test)

In [112]:
from sklearn.metrics import r2_score

In [113]:
r2_score(y_test , y_pred)

0.7301270164359857