In [1]:
# Feature Engineering 

# (1). Standardization ==> mean , std ==> convert ==> mean = 0 , std = 1 

# mean = np.sum(xi)/N 

# std = square_root(np.sum(xi-mean_of_data)/N)

# z_score = (xi - mean)/std

In [2]:
# Current Data ==> DataFrame  

# DataFrame ==> input_data(x) , output or target_data(y)

# X ==> x_train , x_test 

# y ==> y_train , y_test

In [3]:
import numpy as np 
import pandas as pd

In [4]:
df = pd.read_csv("C:\\Users\\saurabh\\Desktop\\pyth\\click.csv")

In [5]:
df.head(2)

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Gender,Country,Timestamp,Clicked on Ad
0,62.26,32.0,69481.85,172.83,Decentralized real-time circuit,Lisafort,Male,Svalbard & Jan Mayen Islands,2016-06-09 21:43:05,0
1,41.73,31.0,61840.26,207.17,Optional full-range projection,West Angelabury,Male,Singapore,2016-01-16 17:56:05,0

In [6]:
df.columns

Index(['Daily Time Spent on Site', 'Age', 'Area Income',
       'Daily Internet Usage', 'Ad Topic Line', 'City', 'Gender', 'Country',
       'Timestamp', 'Clicked on Ad'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  10000 non-null  float64
 1   Age                       10000 non-null  float64
 2   Area Income               10000 non-null  float64
 3   Daily Internet Usage      10000 non-null  float64
 4   Ad Topic Line             10000 non-null  object
 5   City                      10000 non-null  object
 6   Gender                    10000 non-null  object
 7   Country                   10000 non-null  object
 8   Timestamp                 10000 non-null  object
 9   Clicked on Ad             10000 non-null  int64
dtypes: float64(4), int64(1), object(5)
memory usage: 781.4+ KB

In [8]:
df['City'].value_counts()

Hubbardmouth       336
West Brandonton    275
Lisafort           261
Wintersfort        230
Stewartbury        207
                  ...
Turnerview           1
North Tiffany        1
North Kristine       1
East Troyhaven       1
Davidview            1
Name: City, Length: 521, dtype: int64

In [9]:
df = df.drop(columns = ['Ad Topic Line' , 'Timestamp' ] , axis = 1)

In [10]:
df.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,City,Gender,Country,Clicked on Ad
0,62.26,32.0,69481.85,172.83,Lisafort,Male,Svalbard & Jan Mayen Islands,0
1,41.73,31.0,61840.26,207.17,West Angelabury,Male,Singapore,0
2,44.40,30.0,57877.15,172.83,Reyesfurt,Female,Guadeloupe,0
3,59.88,28.0,56180.93,207.17,New Michael,Female,Zambia,0
4,49.21,30.0,54324.73,201.58,West Richard,Female,Qatar,1

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
lb = LabelEncoder()

In [13]:
df['City'] = lb.fit_transform(df['City'])
df['Gender'] = lb.fit_transform(df['Gender'])
df['Country'] = lb.fit_transform(df['Country'])

In [14]:
df

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,City,Gender,Country,Clicked on Ad
0,62.26,32.0,69481.85,172.83,234,1,174,0
1,41.73,31.0,61840.26,207.17,460,1,166,0
2,44.40,30.0,57877.15,172.83,379,0,71,0
3,59.88,28.0,56180.93,207.17,269,0,205,0
4,49.21,30.0,54324.73,201.58,495,0,149,1
...,...,...,...,...,...,...,...,...
9995,41.73,31.0,61840.26,207.17,460,1,166,1
9996,41.73,28.0,51501.38,120.49,177,1,105,0
9997,55.60,39.0,38067.08,124.44,316,0,48,0
9998,46.61,50.0,43974.49,123.13,321,0,108,1
9999,46.61,43.0,60575.99,198.45,355,1,136,1

In [15]:
df.isnull().sum()

Daily Time Spent on Site    0
Age                         0
Area Income                 0
Daily Internet Usage        0
City                        0
Gender                      0
Country                     0
Clicked on Ad               0
dtype: int64

In [16]:
x = df.drop(columns = ['Clicked on Ad'] , axis = 1) #Independent column

In [17]:
y = df['Clicked on Ad']

In [18]:
from sklearn.preprocessing import StandardScaler

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [21]:
x_train

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,City,Gender,Country
9254,74.15,31.0,59677.64,207.17,269,1,15
1561,72.80,29.0,73910.90,195.69,25,1,190
1670,42.04,40.0,39723.97,165.27,326,0,27
6087,66.18,49.0,45632.51,124.32,193,0,24
6669,44.57,36.0,50628.31,168.92,54,1,168
...,...,...,...,...,...,...,...
5734,82.07,41.0,57846.68,126.39,484,0,149
5191,89.00,36.0,50628.31,126.39,248,1,187
5390,78.84,35.0,25603.93,236.87,516,0,192
860,59.51,30.0,57877.15,138.71,515,1,20
7270,59.05,33.0,52736.33,113.12,33,1,200

In [22]:
df.shape

(10000, 8)

In [23]:
x.shape

(10000, 7)

In [24]:
y.shape

(10000,)

In [25]:
x_train.shape

(8000, 7)

In [26]:
x_test.shape

(2000, 7)

In [27]:
y_train.shape

(8000,)

In [28]:
y_test.shape

(2000,)

In [29]:
np.round(x_train.describe() , 2)

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,City,Gender,Country
count,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00
mean,61.75,36.00,53755.70,177.54,290.26,0.46,95.23
std,15.74,8.56,13385.32,40.80,154.87,0.50,64.86
min,32.60,19.00,13996.50,105.22,0.00,0.00,0.00
25%,48.86,29.00,43974.49,140.15,155.00,0.00,35.00
50%,59.59,35.00,56180.93,178.92,285.00,0.00,88.00
75%,76.81,42.00,61840.26,212.38,436.00,1.00,157.00
max,90.97,60.00,79332.33,269.96,520.00,1.00,206.00

In [30]:
from sklearn.preprocessing import StandardScaler

In [31]:
sc = StandardScaler()

In [32]:
x_train_scaled = sc.fit_transform(x_train) 
x_test_scaled = sc.transform(x_test)

In [33]:
x_train_scaled

array([[ 0.78819549, -0.58442525,  0.44244848, ..., -0.13725835,
         1.07884971, -1.23705392],
       [ 0.7024133 , -0.81813108,  1.50586358, ..., -1.71286226,
         1.07884971,  1.46129017],
       [-1.25214972,  0.46725099, -1.04835784, ...,  0.23081306,
        -0.92691317, -1.05202461],
       ...,
       [ 1.08620916, -0.11701359, -2.10331389, ...,  1.45771774,
        -0.92691317,  1.49212839],
       [-0.14206467, -0.70127816,  0.30792777, ...,  1.45126035,
         1.07884971, -1.15995838],
       [-0.17129416, -0.35071942, -0.07616032, ..., -1.66120311,
         1.07884971,  1.61548126]])

In [34]:
x_train_new = pd.DataFrame(x_train_scaled , columns = x_train.columns)

In [35]:
x_train_new

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,City,Gender,Country
0,0.788195,-0.584425,0.442448,0.726420,-0.137258,1.078850,-1.237054
1,0.702413,-0.818131,1.505864,0.445000,-1.712862,1.078850,1.461290
2,-1.252150,0.467251,-1.048358,-0.300713,0.230813,-0.926913,-1.052025
3,0.281763,1.518927,-0.606911,-1.304559,-0.628020,-0.926913,-1.098282
4,-1.091388,-0.000161,-0.233658,-0.211238,-1.525598,1.078850,1.122070
...,...,...,...,...,...,...,...
7995,1.291451,0.584104,0.305651,-1.253815,1.251081,-0.926913,0.829107
7996,1.731800,-0.000161,-0.233658,-1.253815,-0.272864,1.078850,1.415033
7997,1.086209,-0.117014,-2.103314,1.454484,1.457718,-0.926913,1.492128
7998,-0.142065,-0.701278,0.307928,-0.951804,1.451260,1.078850,-1.159958
7999,-0.171294,-0.350719,-0.076160,-1.579115,-1.661203,1.078850,1.615481

In [36]:
np.round(x_train_new.describe() , 1)

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,City,Gender,Country
count,8000.0,8000.0,8000.0,8000.0,8000.0,8000.0,8000.0
mean,-0.0,-0.0,-0.0,0.0,0.0,-0.0,0.0
std,1.0,1.0,1.0,1.0,1.0,1.0,1.0
min,-1.9,-2.0,-3.0,-1.8,-1.9,-0.9,-1.5
25%,-0.8,-0.8,-0.7,-0.9,-0.9,-0.9,-0.9
50%,-0.1,-0.1,0.2,0.0,-0.0,-0.9,-0.1
75%,1.0,0.7,0.6,0.9,0.9,1.1,1.0
max,1.9,2.8,1.9,2.3,1.5,1.1,1.7

In [37]:
# df['City']