# We can do this in one cell using Column Transformer

In [4]:
import numpy as np
import pandas as pd

In [5]:
from sklearn.compose import ColumnTransformer 
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder

In [6]:
df = pd.read_csv("C:\\Users\\HP\\Desktop\\Projects\\Project Data\\covid_toy.csv")
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [7]:
x = df.drop(columns = ['has_covid'])
y = df['has_covid']

In [8]:
import numpy as np 
import pandas as pd 
from sklearn.compose import ColumnTransformer 
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder

In [9]:
df = pd.read_csv("C:\\Users\\HP\\Desktop\\Projects\\Project Data\\covid_toy.csv")
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [10]:
x = df.drop(columns = ['has_covid'])
y = df['has_covid']

In [11]:
from sklearn.model_selection import train_test_split 
x_train , x_test , y_train ,y_test = train_test_split(x,y,test_size=  0.2 , random_state = 42)

In [12]:
transformer = ColumnTransformer(transformers = [
    ('a' , SimpleImputer() , ['fever']) ,  
    ('b' , OrdinalEncoder(categories = [['Mild' , 'Strong']]) , ['cough']),
    ('c' , OneHotEncoder(sparse = False , drop = 'first') , ['gender' , 'city']),
    ("e"  , LabelEncoder(),["has_covid"])
] , remainder = 'passthrough')

In [13]:
cff = transformer.fit_transform(x_train)

ValueError: A given column is not a column of the dataframe

In [ ]:
cff = pd.DataFrame(cff)

In [ ]:
df.head(1)

In [33]:
cff

        0    1    2    3    4    5     6
0   101.0  0.0  0.0  0.0  0.0  1.0  81.0
1   100.0  0.0  0.0  0.0  1.0  0.0   5.0
2   100.0  0.0  0.0  0.0  1.0  0.0  19.0
3   100.0  0.0  1.0  1.0  0.0  0.0  27.0
4   103.0  0.0  0.0  1.0  0.0  0.0  73.0
..    ...  ...  ...  ...  ...  ...   ...
75  102.0  1.0  0.0  0.0  0.0  0.0  24.0
76  104.0  1.0  0.0  1.0  0.0  0.0  75.0
77  104.0  0.0  1.0  0.0  0.0  0.0  51.0
78  102.0  1.0  0.0  0.0  1.0  0.0  82.0
79  100.0  1.0  0.0  0.0  1.0  0.0  11.0

[80 rows x 7 columns]